body {
	/* background-image: url("../images/party_login.jpg"); */
	/* background-attachment: fixed;
    background-position: center; 
	background-color: #cccccc;
	background-repeat: no-repeat; */
	/* -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}

.main-container {
	background-image: url("../images/party_main.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

nav {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	box-shadow: none;

}

nav .brand-logo {
	/* font-family: 'Indie Flower', cursive;
	color: #0CE815;
	font-size: 70px;
	font-weight: bold;
	letter-spacing: 5px;
	margin-left : 200px;
	opacity: 0.8;
	text-shadow: 2px 2px 8px #FF0000; */
}

.logo h1 {
	margin-top: 100px;
	font-family: 'Indie Flower', cursive;
	color: green;
	font-size: 180px;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: center;
	opacity: 0.9;
	text-shadow: 2px 2px 8px yellow;
}

.center {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

.wrapper {
    margin: 30px 0 0 20px;
}

.col-main {
    height: 600px;
	margin-right:60px;
	opacity: 0.90;
  }

.main-cards {
	opacity: 1;
}

.info-panel {
    height: 580px;
  }

  .sidenav_card {
	  margin: 15px 0 0 0 ;
  }

  .menu-list li {
    margin: 15px 5px;
  }

  .menu-list li a{

    color: white;
    display: block

  }



#party_name {
	color: white;
	}

input[type=text]:not(.browser-default) {
	border-bottom: 1px solid #fff7f7;
	}

input[type=text]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #fff7f7;
	}



/* ----------------------------------------------------------- login page ------------------------------------------------------------ */

	.about {
		margin-top: 150px;
		opacity: 0.8;
		background-color:#F3FF9A;
	  }
	  
	  p {
		line-height: 2rem;
	  }
	  
	  @media only screen and (max-width : 992px) {
		.parallax-container .section {
		  position: absolute;
		  top: 40%;
		}
		#index-banner .section {
		  top: 10%;
		}
	  }
	  
	  @media only screen and (max-width : 600px) {
		#index-banner .section {
		  top: 0;
		}
	  }
	  
	  .icon-block {
		padding: 0 15px;
	  }
	  .icon-block .material-icons {
		font-size: inherit;
	  }
	  